.vscode

# Artifacts and temp folders
.artifacts/**
.tmp/**

# Engine + Secrets
test-harness/.PLAID_CREDENTIALS.json
.env
.engine

# Dependencies
test-harness/coldbox
test-harness/docbox
test-harness/testbox
test-harness/logs/**
test-harness/modules

# modules
modules

# log files
logs/**