.vscode
.env

.artifacts/**
.tmp/**

# app deps
coldbox
testbox
modules

# test deps
test-harness/resources/app/coldbox
test-harness/engine
test-harness/logs/**
test-harness/.env

# modules
modules/**

# log files
logs/**